Repository finsite/template_python: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, markdownlint, pip-audit

safety:
  name: safety
  entry: safety check --full-report --file=requirements.txt
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx markdownlint-cli
  language: system
  pass_filenames: true

pip-audit:
  name: pip-audit
  entry: pip-audit --requirement requirements.txt
  language: system
  pass_filenames: false

Updated Pre-Commit Hooks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.y
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/documentation.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  docs/Makefile
  docs/conf.py
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
  requirements.txt
  src/app/__init__.py
  src/app/main.py
Due: safety, markdownlint, pip-audit

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  docs/source/index.rst
  requirements.txt
Due: none

Updated Pre-Commit Hooks
  .github/labeler.yaml
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/documentation.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  CONTRIBUTING.MD
  README.md
  docs/source/index.rst
  docs/source/modules.rst
  tests/test_main.py
Due: safety, markdownlint, pip-audit

Updated Pre-Commit Hooks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/refactor_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/task_or_enhancement.md
  .github/ISSUE_TEMPLATE/test_case_suggestion.md
  .github/labeler.yaml
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  CONTRIBUTING.MD
Due: markdownlint

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
Due: none

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  .prettierrc
  Dockerfile
Due: none

update pre-commit hooks
  Dockerfile
  requirements-dev.txt
  requirements.txt
Due: none

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  pylintrc
  src/app/main.py
  tests/test_placeholder.py
Due: safety, pip-audit

trying to get pylintrc going
  .pre-commit-config.yaml
Due: none

commented out hanging utilties
  .pre-commit-config.yaml
Due: none

your commit message
  .bump-my-version.cfg
  .bumpversion.toml
  .pre-commit-config.yaml
  src/app/__init__.py
  src/app/main.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  src/app/main.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  bump_version.py
  setup.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  generate_k8.py
Due: safety, pip-audit

Added Requirements.in to fix github action workflow
  pyproject.toml
  requirements.in
Due: none

fixing workflows
  requirements-dev.txt
Due: none

fixing workflows
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/documentation.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
Due: none

fixing workflows
  .github/workflows/dependabot.yml
Due: none

fixing workflows
  .github/workflows/Apply Labels to Pull Request.yml
  .github/workflows/Auto Assign Issue.yml
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Continuous Integration.yml
  .github/workflows/Create Greetings on Pull Request.yml
  .github/workflows/Dependabot Dependency Updates.yml
  .github/workflows/Mark stale issues and pull requests.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Secret scanning.yml
  .github/workflows/Security Scan.yml
  .github/workflows/Sphynx Documentation Build.yml
  .github/workflows/argocd deployment test.yml
  .github/workflows/argocd linting and synch check.yml
  .github/workflows/argocd validate manifest.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/check python packaging.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/helm dry run.yml
  .github/workflows/helm lint.yml
  .github/workflows/helm template validation.yml
  .github/workflows/performance benchmark.yml
  .github/workflows/pip-audit.yml
  .github/workflows/pip-review.yml
  .github/workflows/python linting.yml
  .github/workflows/ruff linting.yaml
  .github/workflows/static-analysis.yml
  .github/workflows/tatic Analysis with Pylint.yml
  .github/workflows/validate json and yaml.yml
  .github/workflows/validate kubernetes files.yml
Due: none

fixing workflows
  Dockerfile
Due: none

fixing workflows
  .github/workflows/Bump My Version.yml
Due: none

fixing workflows
  .github/workflows/Secret scanning.yml
  .github/workflows/Sphynx Documentation Build.yml
  requirements-dev.txt
Due: none

fixing workflows
  .github/workflows/Benchmark Performance.yml
  .github/workflows/Black Formatting Check.yml
  .github/workflows/Commit Message Lint.yml
  .github/workflows/Continuous Integration.yml
  .github/workflows/Docker Security Scan.yml
  .github/workflows/Prettier Formatting Check.yml
  .github/workflows/Shell Script Linting.yml
Due: none

fixing workflows
  .github/workflows/MyPy Type Checking.yaml
  .github/workflows/Static Analysis with Pylint.yml
  .github/workflows/performance benchmark.yml
  .github/workflows/python linting.yml
Due: none

fixing workflows
  .github/workflows/Helm Dry-Run Deployment.yml
  .github/workflows/Helm Lint and Validation.yml
  .github/workflows/helm dry run.yml
  .github/workflows/helm lint.yml
  .github/workflows/helm template validation.yml
Due: none

fixing workflows
  .github/workflows/Check Outdated Dependencies.yml
  .github/workflows/Dependency Security Audit.yml
Due: none

fixing workflows
  .github/workflows/Validate Kubernetes YAML.yml
Due: none

added script to generate k8 files
  requirements-dev.txt
Due: none

fixing workflows
  .github/workflows/Cleanup Artifacts.yml
  .github/workflows/Cleanup GitHub Cache.yml
  .github/workflows/Cleanup Old Docker Images.yml
  .github/workflows/Cleanup Old Releases.yml
  .github/workflows/Cleanup Old Workflow Logs.yml
  .github/workflows/Cleanup Stale Branches.yml
  .github/workflows/Delete Old Workflow Runs.yml
  .github/workflows/GitHub Actions Cleanup.yml
Due: none

fixing workflows
  .github/dependabot.yml
Due: none

fixing workflows
  generate_k8.py
  generate_k8s.py
Due: safety, pip-audit

Synched with Data Poller
  .pre-commit-config.yaml
  Makefile
Due: none

updated old dockerfile
  Dockerfile
Due: none

renamed labler to right filename
  .github/labeler.yml
Due: none

updated kubernetes files
  .bandit
  generate_k8s.py
Due: safety, pip-audit

fixed yaml linting
  .prettierrc.yaml
  .yamllint.yaml
Due: none

migrating to pyproject.toml fully
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/refactor_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/task_or_enhancement.md
  .github/ISSUE_TEMPLATE/test_case_suggestion.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Static Analysis with Pylint.yml
  pyproject.toml
Due: markdownlint

moved to just pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

Path conditions:
  safety: any of: \.py$
  markdownlint: any of: \.md$
  pip-audit: any of: \.py$
